
<div id="content">
    <div id="content-header"></div>
    <div id="content-articles">
        <div id="queue">
            <article id="queue-article-907211" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">QZ&amp;A</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/907211/should-we-live-on-mars-nasa-astronaut-ron-garan-believes-we-should-focus-on-fixing-problems-on-earth-instead-of-martian-colonization/">Should we leave Earth to colonize Mars? A NASA astronaut says “nope”</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2016/11/astronaut-in-space.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="NASA astronaut Nicholas Patrick holds onto the International Space Station's new cupola, with Earth in the background, during his spacewalk in this image released by NASA and taken February 17, 2010." title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Today’s businesspeople are very excited about launching into the stratosphere. Whether it’s Elon Musk’s SpaceX, Richard Branson’s Virgin Galactic, the Mars One mission, or a…</p>
                        <div class="queue-article-meta">
                            <div class="item-obsession">
                                <a href="/on/space-business/">Space Business</a>
                            </div>
                            <div class="byline">
                                <a href="https://qz.com/author/gfkqz/" class="author-name">Georgia Frances King</a>
                            </div>
                            <div class="timestamp" title="">1 hour ago</div>
                        </div>
                    </div>
                </div>
                <div id="engage-907211"></div>
            </article>
            <article id="queue-article-906982" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">CRIME DRAMA</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/906982/the-aclu-says-trumps-executive-order-on-crime-aims-to-stop-national-trends-that-dont-exist/">The ACLU says Trump’s executive order on crime aims to “stop national trends that don’t exist”</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/rtswl1w-1-e1486679037584.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="DC riot police form a line across K Street Northwest at 13th Street as protesters react to the swearing in of U.S. President Donald Trump in downtown Washington, U.S., January 20, 2017. REUTERS/James Lawler Duggan - RTSWL1W" title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Putting his law-and-order campaign rhetoric into practice, US president Donald Trump on Thursday (Feb. 9) signed three executive orders aiming to, respectively, reduce crime in…</p>
                        <div class="queue-article-meta">
                            <div class="byline">
                                <a href="https://qz.com/author/hkozlowskaqz/" class="author-name">Hanna Kozlowska</a>
                            </div>
                            <div class="timestamp" title="">February 09, 2017</div>
                        </div>
                    </div>
                </div>
                <div id="engage-906982"></div>
            </article>
            <article id="queue-article-907351" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">ORDER IN THE COURTS</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/907351/the-federal-appellate-court-decision-to-maintain-restraints-on-trumps-travel-ban-reveals-the-laws-power/">The appellate court asked four simple questions to reach its ruling on the Trump travel ban</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/usa-trump-immigration.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="9th U.S. Circuit Court of Appeals courthouse in San Francisco." title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Donald Trump just got a very important lesson for an American president. He may be the center of international attention, and feel like king. But…</p>
                        <div class="queue-article-meta">
                            <div class="item-obsession">
                                <a href="/on/america-first/">"America First"</a>
                            </div>
                            <div class="byline">
                                <a href="https://qz.com/author/livniqz/" class="author-name">Ephrat Livni</a>
                            </div>
                            <div class="timestamp" title="">3 hours ago</div>
                        </div>
                    </div>
                </div>
                <div id="engage-907351"></div>
            </article>
            <article id="queue-article-906007" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">BE RIGHT THERE!</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/906007/why-am-i-always-late-chronically-late-people-share-one-positive-personality-trait-optimism/">Chronically late people share one positive personality trait</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/running-late.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="Man running late in an airport in China with briefcase" title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Earlier in the year, I worked out how to stop being 10 minutes late everywhere. The reason why I’m constantly behind schedule turned out to…</p>
                        <div class="queue-article-meta">
                            <div class="item-obsession">
                                <a href="/on/life-as-laboratory/">Life as Laboratory</a>
                            </div>
                            <div class="byline">
                                <a href="https://qz.com/author/gfkqz/" class="author-name">Georgia Frances King</a>
                            </div>
                            <div class="timestamp" title="">February 09, 2017</div>
                        </div>
                    </div>
                </div>
                <div id="engage-906007" data-google-query-id="CJCq77P2hdICFUeMUQodqu0M1g" style="display: none;">
                    <div id="google_ads_iframe_/56091333/qz/section_1__container__" style="border: 0pt none;">
                        <iframe id="google_ads_iframe_/56091333/qz/section_1" title="3rd party ad content" name="google_ads_iframe_/56091333/qz/section_1" width="1600" height="521" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>