
<div id="content">
    <div id="content-header"></div>
    <div id="content-articles">
        <div id="queue">
            <article id="queue-article-906521" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">BAIL OUT</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/906521/nigerias-government-is-taking-over-arik-air-to-save-it-from-collapse/">Nigeria’s government is taking over the country’s largest airline to try and save its aviation industry</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/arik-air.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="Stranded passengers stand at the close Arik Air check-in counter following a protest over unpaid salaries by staff in Lagos, Nigeria, Tuesday, Dec. 20, 2016. Workers unpaid for months by Nigeria's biggest airline went on strike Tuesday, halting flights and stranding thousands of passengers days before Christmas." title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Nigeria’s largest airline, Arik Air, which has been struggling for months, has been taken over by the Asset Management Corporation of Nigeria (AMCON), a company…</p>
                        <div class="queue-article-meta">
                            <div class="byline">
                                <a href="https://qz.com/author/ykazeem/" class="author-name">Yomi Kazeem</a>
                            </div>
                            <div class="timestamp" title="">February 09, 2017</div>
                        </div>
                    </div>
                </div>
                <div id="engage-906521"></div>
            </article>
            <article id="queue-article-903651" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">AM I A THREAT TO YOUR LIBERTY?</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/903651/a-nigerian-artist-who-worked-with-beyonce-laolu-senbanjo-is-protesting-trumps-travel-ban/">“Am I a threat?” A New York-based Nigerian artist protests Donald Trump’s travel ban with art</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/libertees-2-site-official-laolu-e1486730105413.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="libertees-2-site-official-laolu" title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Donald Trump’s executive order banning refugees and citizens from seven Muslim-majority countries from entering the United States of America has drawn criticism from many quarters.…</p>
                        <div class="queue-article-meta">
                            <div class="item-obsession">
                                <a href="/on/america-first/">"America First"</a>
                            </div>
                            <div class="byline">
                                <a href="https://qz.com/author/ykazeem/" class="author-name">Yomi Kazeem</a>
                            </div>
                            <div class="timestamp" title="">4 hours ago</div>
                        </div>
                    </div>
                </div>
                <div id="engage-903651"></div>
            </article>
            <article id="queue-article-905656" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">FRESH AIR</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/905656/air-pollution-is-increasing-in-africa-along-with-rapid-urbanization/">Scientists aren’t sure exactly how bad air pollution is in Africa but think it’s worse than we thought</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2017/02/nigeria.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="Plastic containers are arranged at a fuel station as people wait to buy kerosene in Nigeria's commercial capital Lagos June 9, 2011. REUTERS/Akintunde Akinleye (NIGERIA - Tags: ENERGY SOCIETY BUSINESS) - RTR2NHCM" title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">Somerset West, South Africa When Carlos Dora of the World Health Organization put up his slide on air pollution estimates around the world, there was…</p>
                        <div class="queue-article-meta">
                            <div class="byline">
                                <a href="https://qz.com/author/lchutelqz/" class="author-name">Lynsey Chutel</a>
                            </div>
                            <div class="timestamp" title="">February 09, 2017</div>
                        </div>
                    </div>
                </div>
                <div id="engage-905656"></div>
            </article>
            <article id="queue-article-906491" class="queue-article">
                <div class="site-width">
                    <div class="queue-article-kicker">REFUGEES WELCOME</div>
                    <h2 class="queue-article-title">
                        <a href="https://qz.com/906491/a-kenyan-court-has-blocked-the-governments-decision-to-close-dadaab-the-worlds-largest-refugee-camp/">A Kenyan court has blocked the government’s decision to close the world’s largest refugee camp</a>
                    </h2>
                    <figure class="queue-article-hero"><picture><img src="https://qzprod.files.wordpress.com/2016/08/rtx1c4zt.jpg?quality=80&amp;strip=all&amp;w=270&amp;h=152&amp;crop=1" alt="Somali refugees are pictured at the Ifo camp in Dadaab near the Kenya-Somalia border." title=""></picture></figure>
                    <div class="queue-article-content">
                        <p class="queue-article-summary">The world’s largest refugee camp is not somewhere in Europe, or on the Turkish-Syrian border, or in Iraq; it is the Dadaab camp in northeastern…</p>
                        <div class="queue-article-meta">
                            <div class="item-obsession">
                                <a href="/on/borders/">Borders</a>
                            </div>
                            <div class="byline">
                                <a href="https://qz.com/author/lilkuo/" class="author-name">Lily Kuo</a>
                            </div>
                            <div class="timestamp" title="">February 09, 2017</div>
                        </div>
                    </div>
                </div>
                <div id="engage-906491" data-google-query-id="CMX2qt72hdICFTAg0wodFq0CAw" style="display: none;">
                    <div id="google_ads_iframe_/56091333/qz/section_1__container__" style="border: 0pt none;">
                        <iframe id="google_ads_iframe_/56091333/qz/section_1" title="3rd party ad content" name="google_ads_iframe_/56091333/qz/section_1" width="1600" height="521" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>